<h1>Welcome to Rewsly!</h1>

<p><%= link_to "Add a story", new_story_path %></p>

<%= form_tag '/search', method: :get do %>
	<%= label_tag 'q', "Search" %>
	<%= text_field_tag 'q' %>
	<%= submit_tag 'Search stories' %>
<% end %>

<h2>Most popular stories</h2>

<% @popular_stories.each do |story| %>
	<p><%= link_to story.title, story_path(story) %></p>
<% end %>

<h2>Highest rated stories</h2>

<% @highest_rated.each do |story| %>
	<p><%= link_to story.title, story_path(story) %></p>
<% end %>

<h2>All stories</h2>

<%= render 'story_list' %>