<h2>Add a new Rewsly story</h2>

<%= form_for @story do |story| %>

<% if @story.errors.any? %>
    <h2><%= pluralize(@story.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @story.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>

<%= story.label :title %><br/>
<%= story.text_field :title %><br/>
<%= story.label :link %><br/>
<%= story.text_field :link %><br/>
<%= story.label :upvotes %><br/>
<%= story.text_field :upvotes %><br/>
<%= story.label :category %><br/>
<%= story.text_field :category %><br/>
<%= story.submit 'Submit story' %>
<% end %>