<h3><%= @story.title %></h3>
<p>Category: <%= @story.category %><br/>
	Upvotes: <%= @story.upvotes %><br/>
	<a href="<%= @story.link %>" target="_blank">Read full story</a></p>
<p><%= link_to "Back to index", root_path %>